/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$highlight: #CC000F;

h1, h2, h3, h4, h5, h6 {
font-family: "futura-pt",sans-serif;
}

em {
font-style:italic;
}

blockquote{
font-style:italic;
}

.footnote-identifier-link{
text-decoration:none;
}

li.footnote{
color:#000;
font-size:14px;
line-height:23px;
}

h2{
font-size:24px;
line-height:23px;
padding-top:10px;
padding-bottom:13px;
}

h3{
font-weight:bold;
font-size:17px;
padding-top:13px;
line-height:17px;
padding-bottom:10px;
text-transform:uppercase;
}

#content ul, ol{
padding-bottom:23px;
}

#content.archive ul{
padding-bottom:0px;
}

#branding{
text-align:center;
padding-top:23px;
}

#branding a, #branding a:visited{
width:50px;
height:50px;
margin:0 auto;
display:block;
background:url('../images/logo.png') no-repeat;
background-position:0px -50px;
}

#branding a:hover, #branding a:active{
background-position:0px 0px;
}

body{
font-family: "minion-pro",serif;
font-size:17px;
line-height:23px;
}

a {
color:#000;
}
a:active, a:hover{
text-decoration:none;
color:$highlight;
}

p {
  font-size:17px;
  text-align:justify;
  margin-bottom:23px;
}

.comments p{
  font-style:italic;
}

#content .comments ul{
  padding-bottom:0;
}

li.comment{
padding-bottom:23px;
}
body.page article h1{
text-align:center;
}
article h1{
font-size:38px;
line-height:46px;
}


article header{
	margin-top:23px;
	margin-bottom:30px;
}
time{
	font-size:14px;
	line-height:18px;
	font-family: "futura-pt",sans-serif;
}
cite {
	font-family: "futura-pt",sans-serif;
}
div.comment-author img{
float:left;
margin-right:7px;
margin-top:6px;
}
body.home #content{
text-align:center;
}

body.home #content li{
font-size:14px;
}

body.home #content ul{
margin-left:0;
}
body.home #content li a{
text-decoration:none;
}
body.home #content li a:hover{
text-decoration:underline;
}

.archive h2{
line-height:26px;
padding-top:20px;
padding-bottom:0px;
}
#content{
padding:0 10px 46px 10px;
}
#container{
margin: 0 auto;

width:100%;
max-width:460px;

}

#menu{
text-align:center;
padding-top: 23px;
border-bottom: #000 solid 1px;
width:95%;
margin:0 auto;
}
#menu li{
display:inline-block;
margin:0 12px;
padding-bottom:11px;
font-family:"futura-pt",sans-serif;
}
#menu li a{
text-decoration:none;
text-transform:uppercase;
}

#site-title{
font-family:"futura-pt",sans-serif;
font-size:14px;
text-align:center;
line-height:14px;
margin-top:30px;
letter-spacing:2px;
display:none;
}

#site-title a{
text-decoration:none;
}
::selection {
	    background: $highlight; /* Safari */
	    }
::-moz-selection {
		 background: $highlight; /* Firefox */
}



#nav-below table{
width:100%;
}

#nav-below{
border-top:1px solid #000;
padding-top:21px;
}

#nav-below td.right{
text-align:right;
}

#nav-below td a{
text-decoration:none;
font-family:"futura-pt",sans-serif;
font-size:14px;
}
#nav-below {
padding-bottom:23px;
}
label{
display:block;
}

input[type=text],textarea{
font-size:17px;
border:1px solid #000;
margin:0;
padding:5px;
display:block;
width:61.8%;
max-width:408px;
font-family:"minion-pro",serif;
}
input[type=submit]{
/*
-webkit-box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
-moz-box-shadow:    4px 4px 0px 0px rgba(0, 0, 0, 1);
box-shadow:         4px 4px 0px 0px rgba(0, 0, 0, 1);
*/

border:2px solid #000;
cursor:pointer;
background:#fff;
padding:5px;
margin:23px 0 23px 0;
text-decoration:none;
font-family:"futura-pt",serif;
font-size:14px;
}

#commentform p{
font-family:"futura-pt",sans-serif;
font-size:14px;
margin-bottom:0;
}